{{#each articles}}

<div>
  <h2>
    <a id="link" href="{{this.link}}">{{this.title}}</a>
    <button type="button" class="btn btn-primary" onclick="saveArticle()"> Save! </button>
  </h2>
  <summary id="summary">{{this.summary}}</summary>
</div>

{{/each}}